<MediaQueryListComponent>
    <AquaFullPage>
        <div class="containerlandscape">
            @Message
        </div>
        <div>
            <button @onclick="CloseAsync" class="close80">
                Close
            </button>
        </div>
    </AquaFullPage>
</MediaQueryListComponent>
